{% extends 'home.html' %} {% block content %}

<h1>Editing {{pet.name}}!</h1>
<hr />
<form class="p-3" method="POST">
  {{form.hidden_tag()}} {% for field in form if field.widget.input_type != 'hidden'%}
  <div class="form-group">
    {{field.label}} {{field(class_="form-control")}} {% for error in field.erros %}
    <small class="form-text text-danger">
      {{err}}
    </small>
    {% endfor %}
  </div>
  {% endfor %}

  <button class="btn btn-success btn-lg">Submit</button>
  <a href="/" class="btn btn-info btn-lg">Go Back Home</a>
</form>

{% endblock %}
